<section class="all pt-5">
  <div class="row container mx-auto">
    <div class="col-md-6">
      <h1>BLAST Pro Series à Madrid !</h1>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
        molestias nulla voluptatibus doloribus? Est, voluptas officia magnam
        provident consequuntur laudantium placeat obcaecati vitae sed iusto id,
        exercitationem illum doloribus atque.
      </p>
    </div>
    <div class="col-md-6">
      <video class="mt-4 trailer" controls>
        <source
          src="../../../../../assets/video-explained.mp4"
          controlsList="nodownload"
          type="video/mp4"
        />
      </video>
    </div>
  </div>
</section>
