.container {
  height: calc(100vh - 64px);
  width: 100%;
}

.mat-card {
  margin: auto;
  position: relative;
  max-width: 550px;
  padding: 25px;
  padding-top: 100px;
  margin-top: 150px;
  border-radius: 25px;
}

.avatar {
  position: absolute;
  top: -85px;
  left: calc((100% - 150px) / 2);
  top: -85px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 0px 8px 13px rgba($color: black, $alpha: 0.2);
}
