<h3 mat-dialog-title>Connection</h3>

<mat-dialog-content>
  <form class="form" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="Adresse e-mail"
        type="email"
        formControlName="email"
      />
      <mat-error>{{ getErrorMessage('email') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="Mot de passe"
        type="password"
        formControlName="password"
      />
      <mat-error>{{ getErrorMessage('password') }}</mat-error>
    </mat-form-field>

    <mat-dialog-actions class="btn-group">
      <button mat-icon-button type="submit" [disabled]="signinForm.invalid">
        <mat-icon class="mat-18">email</mat-icon>
      </button>
      <button mat-icon-button type="button" (click)="googleLogin()">
        <i class="fab fa-google mat-18"></i>
      </button>
      <button type="button" mat-button (click)="onMissingPassword()">
        Mot de passe oublié ?
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
