<h3 mat-dialog-title>Reinitialisation du mot de passe</h3>

<mat-dialog-content>
  <form class="form" [formGroup]="missingForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="Adresse e-mail"
        type="email"
        formControlName="email"
      />
      <mat-error>{{ getErrorMessage('email') }}</mat-error>
    </mat-form-field>

    <mat-dialog-actions class="btn-group">
      <button mat-button type="submit" [disabled]="missingForm.invalid">
        Reinitialiser mon mot de passe
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
