@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Staatliches');

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/jumbotron';

@include mat-core();

// custom background and foreground palettes
$my-dark-theme-background: (
  status-bar: #171c35,
  app-bar: map_get($mat-indigo, 900),
  background: #202548,
  hover: rgba(white, 0.04),
  card: map_get($mat-indigo, 800),
  dialog: map_get($mat-indigo, 800),
  disabled-button: $white-12-opacity,
  raised-button: map-get($mat-indigo, 800),
  focused-button: $white-6-opacity,
  selected-button: map_get($mat-indigo, 900),
  selected-disabled-button: map_get($mat-indigo, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-indigo, 700),
  disabled-list-option: black
);

$my-dark-theme-foreground: (
  base: white,
  divider: $white-12-opacity,
  dividers: $white-12-opacity,
  disabled: rgba(white, 0.3),
  disabled-button: rgba(white, 0.3),
  disabled-text: rgba(white, 0.3),
  hint-text: rgba(white, 0.3),
  secondary-text: rgba(white, 0.7),
  icon: white,
  icons: white,
  text: white,
  slider-min: white,
  slider-off: rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3)
);

// instead of creating a theme with mat-light-theme like a sane person, we will create our own theme-creating function that lets us apply our own foreground and background palettes.
@function create-wonky-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $my-dark-theme-foreground,
    background: $my-dark-theme-background
  );
}
// The rest of this is like a normal theme.scss file. The only difference being that we use create-wonky-theme instead of mat-light-theme
$custom-theme-primary: mat-palette($mat-indigo);
$custom-theme-accent: mat-palette($mat-deep-purple);
$custom-theme-warn: mat-palette($mat-red);
$custom-theme: create-wonky-theme(
  $custom-theme-primary,
  $custom-theme-accent,
  $custom-theme-warn
);
@include angular-material-theme($custom-theme);
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.title,
.menu-title {
  font-family: 'Staatliches', cursive;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
button:focus {
  outline: none;
}
